# Ignore the local Windows virtual environment (The #1 space taker!)
venv/
.venv/
env/

# Ignore Python cache files
**/__pycache__/
*.pyc

# Ignore Git history
.git/
.gitignore

# Ignore your local environment variables
.env
.vscode
.github

outdated

docker-compose.yml

*.ps1
*.bat
README.md
qnap
