:root {
  --main: #fff; 
  --surface: #555555;
  --text: #333;
  --hover_color:#0077FF;
  
  --transparent-main: #ffffffa6;

  --gradiant-1: #cfe9ff;
  --gradiant-2: #ffe5f7;
  --shadow: rgba(0,0,0,0.05);

}

@media (prefers-color-scheme: dark) {
  :root {
    --main: #333;
    --surface: #444;
    --text: #eee;
    --hover_color:#0077FF;

    --transparent-main: #33333355;

    --gradiant-1: #50273b;
    --gradiant-2: #2a3f50;
	
 	  --shadow: rgba(0,0,0,0.1);
  }
}


$main: var(--main);
$surface: var(--surface);
$text: var(--text);
$hover_color: var(--hover_color);


$main-tran: var(--transparent-main);

$gradiant-1: var(--gradiant-1);
$gradiant-2: var(--gradiant-2);

$shadow: var(--shadow);

$font-family_1: Arial, sans-serif;
$font-family_2: 'Georgia', serif;


/* Color constants */
$blue: #00a8ff;
$blueHover: #0097e6;
$red: #ee4444;
$redHover: #c0392b;
$green: #00ca65;
$greenHover: #00AB55;
$orange: #f39c12;
$orangeHover: #e67e22;
$black: #34495e;
$blackHover: #2c3e50;

$faintGray: #f3f6f9;
$faintGreen: #c8f8df;
$faintBlue: #e3faff;
$faintRed: #F7B7C0;
$faintYellow: #f8efbc;


@mixin vertical() {
  display: flex;
	flex-direction: column;
	text-align: center;
}

/* Logical */

.center {
	display: flex;
  padding: 40px 60px;
  margin-top: 60px;
	justify-content: center;
	align-items: center;
  min-height: 100vh;
}
